{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Tasks

{% endblock %}


{% block content %}

    <h1>Tasks</h1>

  

    <article>

        <ul>
        <section id="task">
            {% for task in tasks %}

                <li>
                    <a href="/thing/{{ task.id }}">
                        {{ task.name }}
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>
        </section>
    </article>


    <article>

        <h3>Add a New Thing...</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of new thing"
                required
            >

            <input
                type="number"
                name="priority"
                min="1"
                max="5"
                placeholder="priority"
                required
            >

            <button>Add the Task</button>

        </form>


{% endblock %}

